/* Global Styles */

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    opacity: .7;
}

body {
    color: #4A5568;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

ul {
    padding: 0;
}


ul li {
    list-style: none;
    margin: 0;
}

h2 {
    font-size: 32px;
    color: #2D3748;
    padding-bottom: 20px;
}

.main-body {
    background: #F7FAFC;
    margin: 0;
}


/* ===== 320px mobile sytles ===== */

.pg-wrapper {
    margin: auto;
    width: 90%;
    max-width: 320px;
    text-align: center;
}


/* header */


.nav-item {
    margin-bottom: 10px;
    
}

.nav-item a {
    color: #4A5568;
    background: white;
    padding: 8px;
    text-transform: uppercase;
    display: block;
    padding: 14px 0;
    font-weight: bold;
}

.bio {
    padding: 40px 0;
}


.profile-img {
    width: 210px;
    height: 123px;
    margin: auto;
}


/* Main Section img cards */

.main-section {
    background: white;
    padding: 60px 0;
}

.card {
    margin-bottom: 30px;
}

.card p {
    max-width: 300px;
    margin: auto;
}


.card-img {
    max-width: 287x;
    height: 163px;
    margin: auto;
}


/* Contact */

.contact-container {
    padding: 60px 0;
}

.contact-link {
    color: inherit;
    margin-left: 10px;
    font-weight: bold;
}

/* footer */

.footer-container {
    border-top: 1px solid #E2E8F0;
    font-weight: bold;
    padding: 20px 0;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: none;
}

.footer-link {
    color: inherit;
    text-transform: uppercase;
}


/* ===== 768 tablet sytles ===== */

@media (min-width: 768px) {
    
    .pg-wrapper {
        max-width: 706px;
    }
    
    .main-nav {
        display: flex;
        justify-content: center;
    }
    
    h2 {
        padding: 0;
    }
    
    .nav-item a {
        background: transparent;
        padding: 10px 20px;
    }
    
    .bio {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .profile-img {
        margin-left: 10px;
    }
    
    .card-grid {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        width: 50%;
    }
    
    .contact-container {
        max-width: 520px;
    }
    
    .footer-nav {
        display: inline-block;
    }
    
    .footer-list {
        display: flex;
    }
    
    .footer-list li a {
        padding: 0 10px;
    }
    
    .top-link {
        display: none;
    }
}


/* ===== 1024 tablet sytles ===== */

@media (min-width: 768px) {
    
    .pg-wrapper {
        max-width: 906px;
    }
    
    .main-header {
        display: flex;
        justify-content: space-between;
    }
    
    .nav-item {
        margin-bottom: none;
    }
    
    .bio p {
        max-width: 500px;
        text-align: left;
        justify-content: space-between;
    }
    
    .profile-img {
        width: 368px;
        height: 225px;
        margin: 0 0 0 20px;
    }
    
    .card {
        width: 30%;
        margin: 10px;
    }
    
    .contact-container p {
        width: 500px;
        margin: auto;
    }

}