/* Base */

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

body {
    color: #4A5568;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

img {
    display: block;
}


ul li {
    list-style: none;
    margin: 0;
}

h2 {
    font-size: 32px;
    color: #2D3748;
}

.main-body {
    background: ##F7FAFC;
}

/*
.main-body {
    background: ##F7FAFC;
    min-height: 100vh;
}

.pg-wrapper {
    max-width: 320px;
    margin: auto;
    text-align: center;
}

.main-section {
    background: white;
}

.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
}

.flex-between {
    justify-content: space-between
}

.align-center {
    justify-content: center;
}

.card {
    width: 33%;
    margin: 8px;
}


.hide-mobile {
    display: none;
}
*/

@media (max-width: 320px) {
    
    .pg-wrapper {
        margin: auto;
        width: 90%;
        max-width: 320px;
        text-align: center;
    }
    
    .profile-img {
        width: 210px;
        heigh: 123px;
        margin: auto;
    }
    
    
    .card-img {
    width: 287x;
    height: 163px;
    }

    .nav-item a {
        color: #4A5568;
        background: white;
        padding: 8px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
    
    }

    
}